 body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      background-image: url('https://jackpot-peach.vercel.app/bg.jpeg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

  .game-container {
   width: 100%;
   max-width: 1000px;
   padding: 10px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 0 auto; /* Para centrar el contenedor */
}


    header {
      background: transparent;
      color: #ffd700;
      padding: 10px;
      text-align: center;
    }

    h1.game-title {
      font-size: 6vw;
      margin: 0 0 10px 0;
      text-shadow: 2px 2px 4px #000000, 0 0 10px #ffd700;
      color: #ffffff;
      font-weight: bold;
      letter-spacing: 2px;
      animation: sparkle 2s infinite;
    }

    @keyframes sparkle {
      0%,
      100% {
        text-shadow: 2px 2px 4px #000000, 0 0 10px #ffd700;
      }

      50% {
        text-shadow: 2px 2px 4px #000000, 0 0 20px #ffd700, 0 0 30px #ff6b00;
      }
    }

    .jackpots {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      background: transparent;
      padding: 10px;
    }

    .jackpot {
      background: linear-gradient(to bottom, rgba(28, 28, 28, 0.8), rgba(0, 0, 0, 0.8));
      border: 2px solid #ffd700;
      border-radius: 0;
      padding: 5px 15px;
      font-weight: bold;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      flex-grow: 1;
      margin: 0;
      position: relative;
      overflow: hidden;
    }

    .jackpot::before {
      content: '';
      position: absolute;
      top: -50%;
      left: -50%;
      width: 200%;
      height: 200%;
      background: radial-gradient(circle, rgba(255, 255, 255, 0.3) 0%, transparent 50%);
      animation: sparkleEffect 4s infinite linear;
    }

    @keyframes sparkleEffect {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }

    .jackpot .amount {
      display: block;
      font-size: 24px;
      color: #ffffff;
    }

    .jackpot .label {
      display: block;
      font-size: 14px;
      color: #ffd700;
    }

.slot-machine {
  background-color: rgba(0, 0, 0, 0.7);
  border: 5px solid #ffd700;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  overflow: hidden;
  width: 500px; /* Asegura un ancho fijo para la máquina tragamonedas */
  height: 500px; /* Altura fija para mostrar 5 imágenes */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.reels {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%; /* Asegura que las columnas ocupen toda la altura del contenedor */
}

.reel {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: transform 1s ease-out;
}

.reel img {
  border: 2px solid #ffd700;
  border-radius: 5px;
  width: 100%; /* Asegura que la imagen ocupe el ancho de la columna */
  height: 20%; /* Cada imagen ocupará un 20% de la altura para formar 5 filas */
  object-fit: cover;
}


  footer {
  background-color: transparent;
  padding: 10px;
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
}

   .controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
  height: 100px;
  width: 90%; /* Ancho para que ocupe la mayoría del espacio */
}
  .left-controls, .right-controls {
  display: flex;
  align-items: center;
}

.center-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  margin: 0 20px;
}

  button {
  background-color: #333;
  border: none;
  border-radius: 50%;
  padding: 15px;
  margin: 0 5px;
  cursor: pointer;
  color: #ffffff;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  box-shadow: 0 4px #666;
}

button:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.5);
}

button:active {
  transform: translateY(-1px);
  box-shadow: 0 2px #444;
}

   /* Animación para el botón de ajustes (settings) */
.settings {
  transition: transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}

.settings:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 255, 255, 0.5);
  color: #00ff99;
}

.settings:active {
  transform: scale(0.9);
  box-shadow: 0 4px 8px rgba(0, 255, 255, 0.3);
}

.spin-controls {
  display: flex;
  align-items: center;
}

/* Estilos base para los botones */
.decrease-bet, .increase-bet {
  display: inline-block;
  padding: 15px 30px; /* Aumenta el tamaño del botón */
  font-size: 18px; /* Tamaño de fuente más grande */
  font-weight: bold; /* Fuente en negrita */
  border-radius: 12px; /* Bordes redondeados */
  border: 2px solid #ffffff; /* Borde blanco */
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease, background 0.3s ease, color 0.3s ease;
  background: linear-gradient(45deg, #3B5323, #4A7023); /* Fondo degradado de verde pantano oscuro */
  color: #ffffff; /* Texto blanco */
  box-shadow: 0 4px 8px rgba(0,0,0,0.3); /* Sombra para efecto 3D */
}

/* Estilo al pasar el mouse sobre el botón */
.decrease-bet:hover, .increase-bet:hover {
  transform: scale(1.1);
  background: linear-gradient(45deg, #556B2F, #6B8E23); /* Cambia el degradado a tonos más claros de verde pantano al pasar el mouse */
  color: #ffffff; /* Texto blanco */
}

/* Estilo cuando el botón está presionado */
.decrease-bet:active, .increase-bet:active {
  transform: scale(0.9);
  background: linear-gradient(45deg, #2E4D17, #3A5F19); /* Degradado más oscuro de verde pantano cuando está presionado */
}

/* Añade un efecto de enfoque si el botón tiene el foco */
.decrease-bet:focus, .increase-bet:focus {
  outline: none; /* Elimina el borde por defecto */
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.6); /* Añade una sombra de enfoque */
}

.spin {
  width: 150px;
  height: 150px;
  font-size: 24px;
  text-transform: uppercase;
  margin: 0 15px;
  background: linear-gradient(135deg, #ff4d4d, #e60000);
  border-radius: 50%;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.8);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-family: 'Orbitron', sans-serif; /* Fuente futurista */
}

.spin::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75%;
  height: 75%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.4) 0%, transparent 50%);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  animation: spinGlow 1.5s infinite alternate;
}

.spin::after {
  content: '';
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background: linear-gradient(45deg, rgba(255, 0, 0, 0.6), rgba(255, 255, 0, 0.6));
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
  z-index: 1;
}

.spin:hover::after {
  transform: scale(1);
}

.spin:hover {
  background: linear-gradient(135deg, #ff4d4d, #cc0000);
  transform: scale(1.1);
}

.spin:active {
  background: linear-gradient(135deg, #e60000, #990000);
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.spin-text {
  z-index: 2;
  position: relative;
  font-weight: bold;
  text-shadow: 0 0 5px #fff, 0 0 10px #ff0000;
}

@keyframes spinGlow {
  0% {
    opacity: 0.5;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}


 .turbo-spin, .autoplay {
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 16px;
  background: #666;
  box-shadow: 0 4px #444;
}

.turbo-spin:hover, .autoplay:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.5);
}
 

.balance-bet {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(20, 20, 20, 0.9); /* Fondo oscuro con opacidad */
  border: 2px solid #00ff99; /* Color de borde verde neón */
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 8px 20px rgba(0, 255, 255, 0.6); /* Sombra de neón */
  position: relative;
  overflow: hidden;
  margin: 20px 0;
  width: 280px;
  font-family: 'Orbitron', sans-serif; /* Fuente futurista */
}

.balance-bet span {
  font-size: 22px;
  font-weight: bold;
  color: #00ff99; /* Verde neón para el texto */
  margin: 8px 0;
  text-shadow: 0 0 5px #00ff99, 0 0 10px #00ff99; /* Efecto de neón */
}




.winnings {
  font-size: 26px;
  color: #ff3333; /* Rojo brillante para las ganancias */
  margin-top: 12px;
  position: relative;
  animation: flash 1.5s ease-in-out, scaleUpDown 1.5s ease-in-out;
  background: linear-gradient(45deg, rgba(255,0,0,0.5), rgba(255,255,0,0.5));
  border-radius: 10px;
  padding: 10px;
}

@keyframes flash {
  0% {
    color: #ff3333;
    text-shadow: 0 0 10px #ffff00;
  }
  50% {
    color: #ffff00;
    text-shadow: 0 0 20px #ff3333;
  }
  100% {
    color: #ff3333;
    text-shadow: 0 0 10px #ffff00;
  }
}

@keyframes scaleUpDown {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.8);
  }
}

.winnings-highlight {
  font-size: 30px;
  color: #ff4500; /* Naranja brillante para resaltar las ganancias */
  animation: flash 1.5s ease-in-out, scaleUpDown 1.5s ease-in-out;
}


.credit-value {
  font-size: 24px;
  font-weight: bold;
  animation: ambulanceEffect 1s infinite alternate;
}

/* Animación para el efecto de ambulancia */
@keyframes ambulanceEffect {
  0% {
    color: #ffcc00; /* Amarillo */
  }
  100% {
    color: #ff0000; /* Rojo */
  }
}


.bet {
  font-size: 24px;
  font-weight: bold;
  transition: all 1s ease; /* Transición más lenta */
}

.bet.explode {
  animation: bloodExplosion 1.2s forwards; /* Animación más lenta */
}

@keyframes bloodExplosion {
  0% {
    color: #ff0000; /* Rojo intenso */
    transform: scale(1);
    opacity: 1;
  }
  50% {
    color: #800000; /* Rojo oscuro */
    transform: scale(1.8);
    opacity: 0.7;
  }
  100% {
    color: transparent; /* Invisible al final */
    transform: scale(2.5);
    opacity: 0;
  }
}

   
.reel img.highlight {
  border: 2px solid #ff0000; /* Color de borde para resaltar */
  animation: highlightAnimation 1s ease-in-out;
}

.reel img.highlight-five {
  border: 2px solid #00ff00; /* Color de borde para 5 coincidencias */
  animation: highlightFiveAnimation 1s ease-in-out, scaleUpDown 1s ease-in-out;
}

.reel img.highlight-four {
  border: 2px solid #ffff00; /* Color de borde para 4 coincidencias */
  animation: highlightFourAnimation 1s ease-in-out, scaleUpDown 1s ease-in-out;
}

.reel img.highlight-three {
  border: 2px solid #ff0000; /* Color de borde para 3 coincidencias */
  animation: highlightThreeAnimation 1s ease-in-out, scaleUpDown 1s ease-in-out;
}

@keyframes highlightFiveAnimation {
  0% {
    border-color: #00ff00;
  }
  50% {
    border-color: #ffd700;
  }
  100% {
    border-color: #00ff00;
  }
}

@keyframes highlightFourAnimation {
  0% {
    border-color: #ffff00;
  }
  50% {
    border-color: #ffd700;
  }
  100% {
    border-color: #ffff00;
  }
}

@keyframes highlightThreeAnimation {
  0% {
    border-color: #ff0000;
  }
  50% {
    border-color: #ffd700;
  }
  100% {
    border-color: #ff0000;
  }
}

@keyframes scaleUpDown {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.highlight {
  animation: flash 0.5s ease-out; /* Añadir animación de destello */
}

.flash-twice {
  animation: flashTwice 1s ease-in-out;
}

@keyframes flashTwice {
  0%, 100% {
    opacity: 0;
    transform: scale(1);
  }
  25% {
    opacity: 1;
    transform: scale(1.2);
  }
  50% {
    opacity: 0;
    transform: scale(1);
  }
  75% {
    opacity: 1;
    transform: scale(1.2);
  }
}


.lines-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  pointer-events: none; /* Asegura que las líneas no interfieran con los clics */
  z-index: 1; /* Asegúrate de que las líneas se dibujen sobre el contenido */
}

.active-line {
  position: absolute;
  width: 100%;
  height: 4px; /* Grosor de la línea */
  background: linear-gradient(90deg, rgba(255, 69, 0, 0.8), rgba(255, 165, 0, 0.8), rgba(255, 69, 0, 0.8));
  background-size: 200% 100%;
  z-index: 2; /* Asegúrate de que las líneas se dibujen sobre el contenido */
  animation: lavaEffect 2s infinite linear;
  border-radius: 2px; /* Borde redondeado para un efecto más suave */
}

@keyframes lavaEffect {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

   .reel img.highlight-twice {
  animation: scaleUpDownTwice 1s ease-in-out;
}

@keyframes scaleUpDownTwice {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
    #confetti-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Asegura que no interfiera con otros elementos */
  overflow: hidden;
  z-index: 9999; /* Asegúrate de que esté por encima de otros elementos */
}
/* Contenedor centrado */
.ciberpunk-container {
    text-align: center;
}

/* Estilo del botón */
.ciberpunk-button {
    background: linear-gradient(135deg, #ff004d, #00e0ff);
    border: 2px solid #ff004d;
    color: #ffffff;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    outline: none;
    transition: all 0.4s ease-in-out;
    box-shadow: 0 0 15px rgba(255, 0, 77, 0.6), 0 0 25px rgba(0, 224, 255, 0.7);
}

/* Transición hover: efectos de color y animación */
.ciberpunk-button:hover {
    background: linear-gradient(135deg, #00e0ff, #ff004d);
    border-color: #00e0ff;
    box-shadow: 0 0 20px rgba(0, 224, 255, 0.8), 0 0 30px rgba(255, 0, 77, 0.8);
    transform: scale(1.05);
}

/* Efectos antes y después para líneas estilo ciberpunk */
.ciberpunk-button::before,
.ciberpunk-button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    transition: all 0.4s ease-in-out;
}

.ciberpunk-button::before {
    border-top-color: #ff004d;
    border-right-color: #ff004d;
    transform: translate(-10px, -10px);
}

.ciberpunk-button::after {
    border-bottom-color: #00e0ff;
    border-left-color: #00e0ff;
    transform: translate(10px, 10px);
}

.ciberpunk-button:hover::before {
    transform: translate(0, 0);
}

.ciberpunk-button:hover::after {
    transform: translate(0, 0);
}
